$color-purple: #6B3074;
$color-blue: #86A3C3;
$color-lightgrey: #B8B8B8;
$color-lightpurple: #b19cd9;
$color-darkblue: #003152;
$color-darkgrey: #555555;

div.App article{
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
    h2{
      font-size: 2.5em;
      margin: 20px 0;
    } 
}
.welcome{
  margin-top: 50px !important;
  text-align: left;
  .col-md-4 i{
    float: right;
    font-size: 200px;
  }
}
body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App-header {
  background-image: url(./images/book-stack.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  text-align: center;
  padding-top: 10vh;
  color: white;
  h1{
    font-size: 7.5rem;
    text-shadow: 2px 2px black;
  }
}
.main-body{
  text-align: center;
  margin-top: 40px;
  h3, h2{
    margin-top: 15px;
  }
  h2{
    color: $color-purple;
    font-weight: 700;
  }
  hr{
    border-top: 2px solid $color-purple;
  }

} 
.login{
  text-align: center;
}
.div-button{
  display: inline-block;
  padding: 10px 12px 12px;
  background-color: #6B3074;
  font-size: 1.3em;
  font-weight: bold;
  border: 3px solid white;
  color: white;
}
.div-button.friend{
  margin-left: 10px;
  padding: 4px 8px 6px;
  background-color: white;
  font-size: .8em;
  font-weight: bold;
  border: 3px solid #6B3074;
  color: #6B3074;
}
.div-button:hover{
  border: 3px solid $color-purple;
  cursor: pointer;
}
.div-button.friend:hover{
  background-color: #6B3074;
  border: 3px solid white;
  color: white;
}
.friend-results{
  margin-top: 35px;
}
.navigation{
    text-align: right;
    a{
      margin: 0 4px;
      font-size: 1.3em;
      display: inline-block;
      padding: 10px;
      color: $color-purple;
      border-bottom: 2px solid white;
      text-decoration: none;
    }
    a:hover, a.active{
      border-bottom: 2px solid $color-purple;
      text-decoration: none;
      color: $color-purple;
    }
    p{
      font-size: 1.5em;
    }
}
a{
  color: $color-blue;
  font-weight: bold;
}
a:hover{
  cursor: pointer;
  text-decoration: underline;
  
}
table{
  text-align: left;
  width: 100%;
  margin-bottom: 50px;
  .accordion {
    .card .card-header .btn-link{
      color: #666 !important;
      font-size: 1rem;
      font-weight: 400;
      margin: 3px 0 0 15px;

    }
    .card p{
      font-size: .8em;
    }
  }
  th{
    padding-right: 20px;
    color: $color-purple;
    font-size: 1.4rem;
    border-bottom: 1px solid $color-purple;
  }
  td{
    padding: 4px 20px 0 0;
    font-size: 1.2rem;
    border-bottom: 1px solid $color-lightgrey;
    img{
      width: 90PX;
      padding: 6px;
    }
  }
  td.title-cell div{
    display: flex;
    flex-wrap: wrap;
    p{
      font-size: .8em;
      margin: 3px 0 0 15px;
      color: #666 !important;
      font-weight: 400;
    }
}
}
.submit-form{
  text-align: left;
  border: solid $color-lightgrey 1px;
  padding: 20px;
}
form{
  .react-datepicker__input-container input{
    font-size: 1.5em;
  }
  .col-md-4{
    text-align: left;
  }
  input{
    height: 1.5em;
  }
  #input-section{
    text-align: center;
  }
  input[type="submit"]{
    display: block;
    margin: 30px auto 0;
    width: 200px;
    height: 3em;
    background-color: $color-purple;
    font-size: 1em;
    font-weight: bold;
    border: 3px solid white;
    color: white;
  }
  input[type="submit"]:hover{
    border: 3px solid $color-purple;
    cursor: pointer;
  }

  label{
    text-align: left;
    color: $color-purple; 
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}
input[type="submit"].manual{
  font-size: 1em;
  margin-top: 20px;
  background: transparent;
  border: none;
  text-decoration: underline;
  font-weight: 700;
  border-top: 40px;
}
input[type="submit"].manual:hover{
  text-decoration: none;
  color: $color-darkgrey;
}
input[type="submit"].delete{
  float: left;
  border: none;
  background-color: transparent;
  color: #333;
  border-bottom: solid red 4px;
  width: 110px;
  height: inherit;
  margin-top: -50px;

}
input[type="submit"].delete:hover{
  color: #333;
  border: none;
  border-bottom: solid red 9px;
}
#close-button{
  text-align: right;
  padding: 30px 20px 0;
  button{
    margin-bottom: -10px;
    border: solid 2px white;
    padding: 2px 15px 5px;
    background-color: $color-purple;
    color: white;
  }
  button:hover{
    border: solid 2px $color-purple;

  }
}
#close-form{
  text-align: right;
  button{
    margin-bottom: -10px;
    border: solid 2px white;
    padding: 2px 15px 5px;
    background-color: $color-purple;
    color: white;
  }
  button:hover{
    border: solid 2px $color-purple;

  }
}


form.loading {
  label{
      color: $color-lightgrey;
      
  }
  input[type="submit"]{
      background-color: $color-lightgrey;
      border: 3px solid $color-lightgrey;
  }
}
input#edit, input.add-button{
  padding: 6px 10px 8px;
  background-color: $color-purple;
  font-size: 0.8em;
  font-weight: bold;
  border: 3px solid white;
  color: white;
}
input.add-button{
  display: inline-block;
  margin: 10px auto;
  font-size: 1em;
  width: 200px;
}
input.add-button.search{
  width: 100%;
}
input#edit:hover, input.add-button:hover{
  border: 3px solid $color-purple;
  cursor: pointer;
}
#reading-now{
  max-width: 500px;
  margin: auto;
  display: flex;
  text-align: left;
  img{
    width: 130px;
    padding: 10px;
  }
  h3, h4{
    margin: auto;
  }
}
.found-friend{
  margin-bottom: 20px;
  font-size: 1.3em;
}
#search-results{
  .col-md-6 div.eachbook{
    padding: 10px;
    border-bottom: 2px solid $color-purple;
  }
 
  h3{
    color: $color-purple;
    font-weight: 700;
  }
  p{
    font-size: 1.2em;
    margin-bottom: 0.5rem;
  }
  img{
    height: 180px;
  }
}
form.search-form{
  input[type="text"]{
    display: block;
    height: 2em;
    width: 80%;
    margin: auto;
  }
}
#booklist h2{
  text-align: left;
  border-bottom: 2px solid $color-purple
}
.accordion{
  .card{
    border: none;
    .card-header{
      padding: 0;
      background-color: transparent !important;
      .btn{
        padding: 0;
      }
      .btn-link{
        color: #333 !important;
        font-size: 1.2rem;
        font-weight: 700;
      }
      button.btn:after{
        content: '+'
      }
    }
  }
}
 
@media only screen and (max-width: 768px) {
  .welcome{
    margin-top: 20px !important;
    .col-md-4 i{
      float: none;
    }
  }
  .App-header{
    padding-top: 5vh;
    height: 200px;
    h1{
      font-size: 4.5rem;
      text-shadow: 2px 2px black;
    }
  } 
}



.progress-bar3 {
  height: 18px;
  border-radius: 4px;
  background-image: 
     linear-gradient(to right, 
       $color-purple, $color-lightgrey, $color-blue);
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-infinite .progress-bar3 { 	 
  width: 100%; 
  background-image: 
    linear-gradient(to right, $color-lightpurple, $color-purple, $color-lightgrey, $color-blue, $color-darkblue);
  animation: colorAnimation 1s infinite;
}

@keyframes colorAnimation {
  0% { 
    background-image: 
    linear-gradient(to right, $color-lightpurple, $color-purple, $color-lightgrey, $color-blue, $color-darkblue);
  }
  20% { 
    background-image: 
    linear-gradient(to right,  $color-darkblue, $color-lightpurple, $color-purple, $color-lightgrey, $color-blue);
  }
  40% { 
    background-image: 
    linear-gradient(to right, $color-blue, $color-darkblue, $color-lightpurple, $color-purple, $color-lightgrey );
  }
  60% { 
    background-image: 
    linear-gradient(to right, $color-lightgrey, $color-blue, $color-darkblue, $color-lightpurple, $color-purple );
  }
  100% { 
    background-image: 
    linear-gradient(to right, $color-purple, $color-lightgrey, $color-blue, $color-darkblue, $color-lightpurple);
  }
}