div.App article {
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
}

.welcome {
  margin-top: 50px !important;
  text-align: left;
}

.welcome h2 {
  margin-top: 0 !important;
}

.welcome img {
  max-width: 100%;
}

body {
  margin-bottom: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App-header {
  background-image: url(./images/book-stack.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  text-align: center;
  padding-top: 10vh;
  color: white;
}

.App-header h1 {
  font-size: 7.5rem;
  text-shadow: 2px 2px black;
}

.main-body {
  padding: 0 10px;
  margin-top: 20px;
}

.main-body h1 {
  font-size: 3.5rem;
  color: #834d8b;
}

.main-body h3 {
  margin-top: 15px;
}

.main-body h2 {
  background-color: #4a7794;
  color: white;
  padding: 4px 12px 10px;
  font-size: 2.2rem;
  margin-bottom: 30px;
}

.main-body hr {
  border-top: 2px solid #834d8b;
}

.main-body #currently-reading, .main-body #finished, .main-body #want-to-read {
  padding-top: 30px;
}

#page-nav {
  list-style: none;
  padding: 0;
  position: -webkit-sticky;
  position: sticky;
  display: block;
  top: 0;
  background: white;
  z-index: 1000;
  border-bottom: solid 5px #86A3C3;
}

#page-nav ul {
  padding: 0;
  margin-bottom: 0;
}

#page-nav ul li {
  display: inline-block;
}

#page-nav ul li a {
  padding: 0 10px 0 0;
  color: #4a7794;
  border-bottom: none;
}

#page-nav ul li a:hover {
  color: #86A3C3;
  border-bottom: none;
}

#page-nav ul li.is-current a {
  color: #834d8b;
}

@media only screen and (max-width: 550px) {
  #page-nav ul li a {
    padding: 0 3px 0 0;
    font-size: .9em;
  }
}

.login {
  text-align: center;
}

.login #error {
  color: red;
}

.div-button {
  text-align: center;
  width: 230px;
  margin: auto;
  padding: 10px 12px 12px;
  background-color: #6B3074;
  font-size: 1.3em;
  font-weight: bold;
  border: 3px solid white;
  color: white;
}

.div-button.friend {
  width: 200px;
  padding: 4px 0 6px;
  background-color: white;
  font-size: .8em;
  font-weight: bold;
  border: 3px solid #6B3074;
  color: #6B3074;
}

.div-button:hover {
  border: 3px solid #834d8b;
  cursor: pointer;
}

.div-button.friend:hover {
  background-color: #6B3074;
  border: 3px solid white;
  color: white;
}

.friend-results {
  margin-top: 35px;
}

.navigation {
  margin-bottom: 300px;
}

.navigation a {
  margin: 0 4px;
  font-size: 1.3em;
  display: inline-block;
  padding: 10px;
  color: #834d8b;
  border-bottom: 2px solid white;
  text-decoration: none;
}

.navigation a:hover, .navigation a.active {
  border-bottom: 2px solid #834d8b;
  text-decoration: none;
  color: #834d8b;
}

.navigation p {
  font-size: 1.5em;
}

a {
  color: #86A3C3;
  font-weight: bold;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.summary-reading .thrift-link {
  font-size: 1.4em;
  padding: 0;
  color: #6B3074;
  border-bottom: 2px solid white;
}

.book-card {
  padding: 10px 15px;
  border-bottom: dashed 1px black;
  text-align: left;
  margin-bottom: 10px;
}

.book-card p {
  margin-bottom: 0;
  font-size: 1.4rem;
}

.book-card p.card-smaller {
  font-size: 1.2rem;
}

.book-card img {
  max-width: 85px;
  padding-right: 10px;
}

.book-card .thrift-link {
  font-size: 1.4em;
  padding: 0;
  color: #6B3074;
  border-bottom: 2px solid white;
}

.book-card .row .col-sm-4 i {
  font-size: 85px;
}

.book-card .accordion .card .card-header .btn-link {
  color: #666 !important;
  font-size: 1.2rem;
  font-weight: 400;
}

.book-card .accordion .card p {
  font-size: .8em;
}

.book-card .col-4 i {
  font-size: 80px;
}

h2#friend-name {
  font-size: 2.4rem;
  border-top: none;
  font-weight: 700;
  background: none;
  color: #4a7794;
  padding: 0;
}

@media only screen and (max-width: 576px) {
  .book-card img {
    margin-top: 10px;
    padding: 0;
  }
}

#friend-form {
  text-align: center;
}

#booklist h3, .friend-results h3, .reading-now h3 {
  margin: 0 0 10px;
  padding: 0 15px 5px 0;
  color: #834d8b;
}

.accordion .card {
  border: none;
}

.accordion .card .card-header {
  padding: 0;
  background-color: transparent !important;
}

.accordion .card .card-header .btn {
  padding: 0;
  text-align: left;
}

.accordion .card .card-header .btn .focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.accordion .card .card-header .btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.accordion .card .card-header .btn-link {
  color: #333 !important;
  font-size: 1.2rem;
}

.accordion .card .card-header button.btn:after {
  content: '+';
}

.submit-form {
  text-align: left;
  border: solid #B8B8B8 1px;
  padding: 20px;
}

.login .submit-form {
  text-align: center;
  border: none;
  padding: 20px;
}

form .react-datepicker__input-container input {
  font-size: 1.5em;
}

form .col-md-4 {
  text-align: left;
}

form input {
  height: 1.5em;
}

form #input-section {
  text-align: center;
}

form input[type="submit"] {
  display: block;
  margin: 30px auto 0;
  width: 200px;
  height: 3em;
  background-color: #834d8b;
  font-size: 1em;
  font-weight: bold;
  border: 3px solid white;
  color: white;
}

form input[type="submit"]:hover {
  border: 3px solid #834d8b;
  cursor: pointer;
}

form input[type="text"] {
  width: 100%;
}

form label {
  text-align: left;
  color: #834d8b;
  font-size: 1.5rem;
  margin-bottom: 0;
}

input[type="submit"].manual {
  font-size: 1em;
  margin: 20px auto;
  display: block;
  background: transparent;
  border: none;
  text-decoration: underline;
  font-weight: 700;
  border-top: 40px;
}

input[type="submit"].manual:hover {
  text-decoration: none;
  color: #555555;
}

input[type="submit"].delete {
  float: left;
  border: none;
  background-color: transparent;
  color: #333;
  border-bottom: solid red 4px;
  width: 110px;
  height: inherit;
  margin-top: -50px;
}

input[type="submit"].delete.check {
  float: none;
  display: inline-block;
  margin: 20px;
}

input[type="submit"].delete:hover {
  color: #333;
  border: none;
  border-bottom: solid red 9px;
}

#delete-section {
  text-align: center;
}

#close-button {
  text-align: right;
  padding: 0px 20px 0;
}

#close-button button {
  margin-bottom: 10px;
  border: solid 2px white;
  padding: 2px 15px 5px;
  background-color: #834d8b;
  color: white;
}

#close-button button:hover {
  border: solid 2px #834d8b;
}

#close-form {
  text-align: right;
}

#close-form button {
  margin-bottom: -10px;
  border: solid 2px white;
  padding: 2px 15px 5px;
  background-color: #834d8b;
  color: white;
}

#close-form button:hover {
  border: solid 2px #834d8b;
}

form.loading label {
  color: #B8B8B8;
}

form.loading input[type="submit"] {
  background-color: #B8B8B8;
  border: 3px solid #B8B8B8;
}

input#edit, input.add-button {
  padding: 6px 10px 8px;
  background-color: #834d8b;
  font-size: 0.8em;
  font-weight: bold;
  border: 3px solid white;
  color: white;
}

input.add-button {
  display: block;
  margin: 40px auto 20px;
  font-size: 1em;
  width: 200px;
  white-space: normal;
}

div.search-bar {
  text-align: center;
  border-bottom: 2px dashed black;
  margin-bottom: 30px;
}

div.search-bar input {
  padding: 6px 10px 8px;
  background-color: #834d8b;
  font-size: 0.8em;
  font-weight: bold;
  border: 3px solid white;
  color: white;
  margin: 10px auto 20px;
  font-size: 1em;
  width: 200px;
}

input.add-button.search {
  width: 100%;
}

input#edit:hover, input.add-button:hover, .search-bar input:hover {
  border: 3px solid #834d8b;
  cursor: pointer;
}

.reading-now {
  margin-top: 20px;
  text-align: left;
}

.reading-now h3 {
  margin-top: 0;
}

.reading-now img {
  max-width: 110px;
}

.reading-now .col-5 i {
  font-size: 85px;
}

.reading-now .summary-reading button {
  font-weight: 400;
}

.reading-now .summary-reading p {
  font-size: 1.2em;
}

.reading-now .summary-reading .collapse p, .reading-now .summary-reading .collapsing p {
  font-size: 1em;
}

.found-friend {
  margin-bottom: 20px;
  font-size: 1.3em;
}

#search-results .col-md-6 div.eachbook {
  padding: 10px;
  border-bottom: 2px solid #834d8b;
}

#search-results h3 {
  color: #834d8b;
  font-weight: 700;
}

#search-results p {
  font-size: 1.2em;
  margin-bottom: 0.5rem;
}

#search-results img {
  max-width: 100%;
}

form.search-form input[type="text"] {
  display: block;
  height: 2em;
  width: 80%;
  margin: auto;
}

.required {
  color: red;
  text-decoration: underline;
  font-weight: bold;
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  .welcome {
    margin-top: 20px !important;
  }
  .welcome .col-md-4 i {
    float: none;
  }
  .App-header {
    padding-top: 7vh;
    height: 200px;
  }
  .App-header h1 {
    font-size: 3.9rem;
    text-shadow: 2px 2px black;
  }
  .navigation a {
    margin: 0 2px;
    font-size: 1em;
    display: inline-block;
    padding: 6px;
    color: #834d8b;
    border-bottom: 2px solid white;
    text-decoration: none;
  }
  input[type="submit"].delete {
    margin-top: 30px;
    float: none;
  }
  .reading-now .col-sm-6 {
    border-bottom: dashed 1px black;
    padding-bottom: 20px;
    margin-bottom: 10px;
  }
  .reading-now img {
    max-width: 80px;
  }
  .main-body h1 {
    font-size: 2.5rem;
  }
  .main-body h2, .main-body h2#friend-name {
    font-size: 1.6rem;
  }
  .main-body h3 {
    font-size: 1.4rem;
  }
  .main-body h4 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 576px) {
  .reading-now img {
    max-width: unset;
  }
  .navigation a {
    margin: 0px 1.6px 0 0;
    font-size: 1em;
    padding: 3px;
  }
}

footer {
  height: 50px;
  background: #834d8b;
  margin-top: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
}

.progress-bar3 {
  height: 18px;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left top, right top, from(#834d8b), color-stop(#B8B8B8), to(#86A3C3));
  background-image: linear-gradient(to right, #834d8b, #B8B8B8, #86A3C3);
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  transition-property: width, background-color;
}

.progress-infinite .progress-bar3 {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#b19cd9), color-stop(#834d8b), color-stop(#B8B8B8), color-stop(#86A3C3), to(#4a7794));
  background-image: linear-gradient(to right, #b19cd9, #834d8b, #B8B8B8, #86A3C3, #4a7794);
  -webkit-animation: colorAnimation 1s infinite;
          animation: colorAnimation 1s infinite;
}

@-webkit-keyframes colorAnimation {
  0% {
    background-image: -webkit-gradient(linear, left top, right top, from(#b19cd9), color-stop(#834d8b), color-stop(#B8B8B8), color-stop(#86A3C3), to(#4a7794));
    background-image: linear-gradient(to right, #b19cd9, #834d8b, #B8B8B8, #86A3C3, #4a7794);
  }
  20% {
    background-image: -webkit-gradient(linear, left top, right top, from(#4a7794), color-stop(#b19cd9), color-stop(#834d8b), color-stop(#B8B8B8), to(#86A3C3));
    background-image: linear-gradient(to right, #4a7794, #b19cd9, #834d8b, #B8B8B8, #86A3C3);
  }
  40% {
    background-image: -webkit-gradient(linear, left top, right top, from(#86A3C3), color-stop(#4a7794), color-stop(#b19cd9), color-stop(#834d8b), to(#B8B8B8));
    background-image: linear-gradient(to right, #86A3C3, #4a7794, #b19cd9, #834d8b, #B8B8B8);
  }
  60% {
    background-image: -webkit-gradient(linear, left top, right top, from(#B8B8B8), color-stop(#86A3C3), color-stop(#4a7794), color-stop(#b19cd9), to(#834d8b));
    background-image: linear-gradient(to right, #B8B8B8, #86A3C3, #4a7794, #b19cd9, #834d8b);
  }
  100% {
    background-image: -webkit-gradient(linear, left top, right top, from(#834d8b), color-stop(#B8B8B8), color-stop(#86A3C3), color-stop(#4a7794), to(#b19cd9));
    background-image: linear-gradient(to right, #834d8b, #B8B8B8, #86A3C3, #4a7794, #b19cd9);
  }
}

@keyframes colorAnimation {
  0% {
    background-image: -webkit-gradient(linear, left top, right top, from(#b19cd9), color-stop(#834d8b), color-stop(#B8B8B8), color-stop(#86A3C3), to(#4a7794));
    background-image: linear-gradient(to right, #b19cd9, #834d8b, #B8B8B8, #86A3C3, #4a7794);
  }
  20% {
    background-image: -webkit-gradient(linear, left top, right top, from(#4a7794), color-stop(#b19cd9), color-stop(#834d8b), color-stop(#B8B8B8), to(#86A3C3));
    background-image: linear-gradient(to right, #4a7794, #b19cd9, #834d8b, #B8B8B8, #86A3C3);
  }
  40% {
    background-image: -webkit-gradient(linear, left top, right top, from(#86A3C3), color-stop(#4a7794), color-stop(#b19cd9), color-stop(#834d8b), to(#B8B8B8));
    background-image: linear-gradient(to right, #86A3C3, #4a7794, #b19cd9, #834d8b, #B8B8B8);
  }
  60% {
    background-image: -webkit-gradient(linear, left top, right top, from(#B8B8B8), color-stop(#86A3C3), color-stop(#4a7794), color-stop(#b19cd9), to(#834d8b));
    background-image: linear-gradient(to right, #B8B8B8, #86A3C3, #4a7794, #b19cd9, #834d8b);
  }
  100% {
    background-image: -webkit-gradient(linear, left top, right top, from(#834d8b), color-stop(#B8B8B8), color-stop(#86A3C3), color-stop(#4a7794), to(#b19cd9));
    background-image: linear-gradient(to right, #834d8b, #B8B8B8, #86A3C3, #4a7794, #b19cd9);
  }
}
/*# sourceMappingURL=index.css.map */