$color-purple: #6B3074;
$color-blue: #86A3C3;
$color-lightgrey: #B8B8B8;

div.App article{
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
    h2{
      font-size: 2.5em;
      margin: 20px 0;
    } 
}
.welcome{
  margin-top: 50px !important;
  text-align: left;
  .col-md-4 i{
    float: right;
    font-size: 200px;
  }
}
body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App-header {
  background-image: url(./images/book-stack.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  text-align: center;
  padding-top: 10vh;
  color: white;
  h1{
    font-size: 7.5rem;
    text-shadow: 2px 2px black;
  }
}
.main-body{
  text-align: center;
  h3, h2{
    margin-top: 15px;
  }
  h2{
    color: $color-purple;
    font-weight: 700;
  }
  hr{
    border-top: 2px solid $color-purple;
  }

} 
.login{
  text-align: center;
}
.div-button{
  display: inline-block;
  padding: 10px 12px 12px;
  background-color: #6B3074;
  font-size: 1.3em;
  font-weight: bold;
  border: 3px solid white;
  color: white;
}
.div-button.friend{
  margin-left: 10px;
  padding: 4px 8px 6px;
  background-color: white;
  font-size: .8em;
  font-weight: bold;
  border: 3px solid #6B3074;
  color: #6B3074;
}
.div-button:hover{
  border: 3px solid $color-purple;
  cursor: pointer;
}
.div-button.friend:hover{
  background-color: #6B3074;
  border: 3px solid white;
  color: white;
}
.friend-results{
  margin-top: 35px;
}
.navigation{
    text-align: right;
    a{
      margin: 0 4px;
      font-size: 1.3em;
      display: inline-block;
      padding: 10px;
      color: $color-purple;
      border-bottom: 2px solid white;
      text-decoration: none;
    }
    a:hover, a.active{
      border-bottom: 2px solid $color-purple;
      text-decoration: none;
      color: $color-purple;
    }
    p{
      font-size: 1.5em;
    }
}
a{
  color: $color-blue;
  font-weight: bold;
}
a:hover{
  cursor: pointer;
  text-decoration: underline;
  
}
table{
  text-align: left;
  width: 100%;
  margin-bottom: 50px;
  th{
    color: $color-purple;
    font-size: 1.4rem;
    border-bottom: 1px solid $color-purple;
  }
  td{
    padding: 4px 0;
    font-size: 1.2rem;
    border-bottom: 1px solid $color-lightgrey;
  }
}
form{
  .col-md-4{
    text-align: left;
  }
  input{
    height: 1.5em;
  }
  #input-section{
    text-align: center;
  }
  input[type="submit"]{
    display: inline-block;
    margin: 10px 5px;
    width: 200px;
    height: 3em;
    background-color: $color-purple;
    font-size: 1em;
    font-weight: bold;
    border: 3px solid white;
    color: white;
  }
  input[type="submit"]:hover{
    border: 3px solid $color-purple;
    cursor: pointer;
  }
  label{
    text-align: left;
    color: $color-purple;
    font-size: 1.5rem;
  }
}
input[type="submit"].nevermind{
  padding: 6px 10px 8px;
  background-color: #86A3C3;
  color: black;
  border: 3px solid white;
  display: block;
  margin: 10px auto;
  font-size: 1em;
}
input[type="submit"].nevermind:hover{
  border: 3px solid $color-blue;
}
#delete{
  float: right;
  border: solid red 2px;
  background-color: white;
  color: #333;
  width: 150px;
}
#delete:hover{
  float: right;
  border: solid white 2px;
  background-color: red;
  color: white;
  width: 150px;
}
form.loading {
  label{
      color: $color-lightgrey;
      
  }
  input[type="submit"]{
      background-color: $color-lightgrey;
      border: 3px solid $color-lightgrey;
  }
}
input#edit, input.add-button{
  padding: 6px 10px 8px;
  background-color: $color-purple;
  font-size: 0.8em;
  font-weight: bold;
  border: 3px solid white;
  color: white;
}
input.add-button{
  display: inline-block;
  margin: 10px auto;
  font-size: 1em;
  width: 200px;
}
input#edit:hover, input.add-button:hover{
  border: 3px solid $color-purple;
  cursor: pointer;
}
#search-results{
  text-align: left;
  h3{
    color: $color-purple;
    font-weight: 700;
  }
}
form.search-form{
  input[type="text"]{
    display: block;
    height: 2em;
    width: 80%;
    margin: auto;
  }
}
.accordion{
  .card{
    border: none;
    .card-header{
      padding: 0;
      background-color: transparent !important;
      .btn{
        padding: 0;
      }
      .btn-link{
        color: #333 !important;
        font-size: 1.5rem;
        font-weight: 700;
      }
      button.btn:after{
        content: '+'
      }
    }
  }
}
 
@media only screen and (max-width: 768px) {
  .welcome{
    margin-top: 20px !important;
    .col-md-4 i{
      float: none;
    }
  }
  .App-header{
    padding-top: 5vh;
    height: 200px;
    h1{
      font-size: 4.5rem;
      text-shadow: 2px 2px black;
    }
  } 
}