$color-purple: #834d8b;
$color-blue: #86A3C3;
$color-lightgrey: #B8B8B8;
$color-lightpurple: #b19cd9;
$color-darkblue: #4a7794;
$color-darkgrey: #555555;
$color-lightergrey: #dedcdce6;

@media screen and (prefers-reduced-motion: no-preference){
  html, body {
      scroll-behavior: smooth;
  }
}
div.App {
  article{
    max-width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
  }
  article#layout{
    min-height: 60vh;
  }
}
.welcome{
  margin-top: 50px !important;
  text-align: left;
  h2{
    font-size: 2.2em;
    margin-top: 0 !important;
  }
  img{
    max-width: 100%;
  }
  p{
    font-size: 1.3em
  }
  .bestsellers{
    font-size: .8rem;
    p{
      margin-bottom: 0;
    }
  }
}
body {
  margin-bottom: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App-header {
  background-image: url(./images/book-stack.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  text-align: center;
  padding-top: 10vh;
  color: white;
  h1{
    font-size: 7.5rem;
    text-shadow: 2px 2px black;
  }
}
.main-body{
  padding: 0 10px;
  margin-top: 20px;
  h1{
    font-size: 3.5rem;
    color: $color-purple;
  }
  h3{
    margin-top: 15px;
  }
  h2{
    background-color: $color-darkblue;
    color: white;
    padding: 7px 12px 10px;
    font-size: 2.2rem;
    margin-bottom: 30px;
  }
  hr{
    border-top: 2px solid $color-purple;
  }
  #currently-reading,#finished, #want-to-read {
    padding-top: 30px;
  }
  p{
    font-size: 1.5em;
  }
  .sign-widget{
    position: absolute;
    top: 356px;
    right: calc(((100vw - 1100px) / 2) + 35px);
    padding: 20px;
    border: solid 2px black;
    width: 270px;
    background-color: $color-lightergrey;
    .submit-form{
      padding: 0;
      label{
        text-align: center;
      }
    }
    p{
      font-size: 1.2em;
    }
    .div-button{
      width: 130px;
      font-size: 1em;
      border: 3px solid $color-lightergrey; 
    }
    .div-button:hover{
      width: 130px;
      font-size: 1em;
      border: 3px solid $color-purple; 
    }
  }
} 
#page-nav{
  list-style: none;
  padding: 0;
  position: sticky;
  display: block;
  top: 0;
  background: white;
  z-index: 1000;
  border-bottom: solid 5px $color-blue;
  ul{
    padding: 0;
    margin-bottom: 0;
    li{
      display: inline-block;
      a{
        padding: 0 10px 0 0;
        color: $color-darkblue;
        border-bottom: none;
        font-size: 1.25em;
        &:hover{
          color: $color-blue;
          border-bottom: none;
          text-decoration: none;
        }
      }
    }
    li.is-current a{
      color: $color-purple;
    }
  } 
}

@media only screen and (max-width: 550px){
  #page-nav ul li a{
          padding: 0 3px 0 0;
          font-size: .9em;
  }
}

.login{
  text-align: center;
  #error{
    color: red;
  }
}
.div-button{
  text-align: center;
  width: 230px;
  margin: auto;
  padding: 10px 12px 12px;
  background-color: #6B3074;
  font-size: 1.3em;
  font-weight: bold;
  border: 3px solid white;
  color: white;
}
.div-button.friend{
  width: 200px;
  padding: 4px 0 6px;
  background-color: white;
  font-size: .8em;
  font-weight: bold;
  border: 3px solid #6B3074;
  color: #6B3074;
}
.div-button:hover{
  border: 3px solid $color-purple;
  cursor: pointer;
}
.div-button.friend:hover{
  background-color: #6B3074;
  border: 3px solid white;
  color: white;
}
.friend-results{
  margin-top: 35px;
}
.navigation{
    text-align: right;
    a{
      margin: 0 4px;
      font-size: 1.3em;
      display: inline-block;
      padding: 10px;
      color: $color-purple !important;
      border-bottom: 2px solid white;
      text-decoration: none;
    }
    a:hover, a.active{
      border-bottom: 2px solid $color-purple;
      text-decoration: none;
      color: $color-purple;
    }
}
a{
  color: $color-blue;
  font-weight: bold;
}
a:hover{
  cursor: pointer;
  text-decoration: underline;
  
}
.thrift-link{
  font-size: 1.4em;
  padding: 0;
  color: #6B3074;
  border-bottom: 2px solid white;
}
.book-card {
  padding: 10px 15px;
  border-bottom: dashed 1px black;
  text-align: left;
  margin-bottom: 10px;
  p{
      margin-bottom: 0;
      font-size: 1.4rem;
  }
  p.card-smaller{
      font-size: 1.2rem;
  }
  img{
    max-width: 85px;
    padding-right: 10px;
  }
  .thrift-link{
    font-size: 1.4em;
    padding: 0;
    color: #6B3074;
    border-bottom: 2px solid white;
  }
  .row .col-sm-4 i{
    font-size: 85px;
  }
  .accordion {
    .card .card-header .btn-link{
      color: #666 !important;
      font-size: 1.2rem;
      font-weight: 400;
    }
    .card p{
      font-size: .8em;
    }
  }
  .col-4 i{
    font-size: 80px;
  }
}
.card .card-body{
  padding: 0.25rem !important;
}
h2#friend-name{
  font-size: 2.4rem;
  border-top: none;
  font-weight: 700;
  background: none;
  color: $color-darkblue;
  padding: 0;
}
@media only screen and (max-width: 576px) {
  .book-card img{
    margin-top: 10px;
    padding: 0;
  }
}
#friend-form{
  text-align: center;
}
#booklist, .friend-results, .reading-now{
  h3{
    margin: 0 0 10px;
    padding: 0 15px 5px 0;
    color: $color-purple;
  }
}

.accordion{
  .card{
    border: none;
    .card-header{
      padding: 0;
      background-color: transparent !important;
      .btn{
        padding: 0;
        text-align: left;
        .focus{
            box-shadow: none !important;
        }
        &:focus{   
            box-shadow: none !important;
        }
      }
      .btn-link{
        color: #333 !important;
        font-size: 1.2rem;
      }
      button.btn:after{
        content: '+'
      }
    }
  }
}

.submit-form{
  text-align: left;
  border: solid $color-lightgrey 1px;
  padding: 20px;
}
.login .submit-form{
  text-align: center;
  border: none;
  padding: 20px;
}
form{
  .react-datepicker__input-container input{
    font-size: 1.5em;
  }
  .col-md-4{
    text-align: left;
  }
  input{
    height: 1.5em;
  }
  #input-section{
    text-align: center;
  }
  input[type="submit"]{
    display: block;
    margin: 30px auto 0;
    width: 200px;
    height: 3em;
    background-color: $color-purple;
    font-size: 1em;
    font-weight: bold;
    border: 3px solid white;
    color: white;
  }
  input[type="submit"]:hover{
    border: 3px solid $color-purple;
    cursor: pointer;
  }
  input[type="text"]{
    width: 100%;
  }
  label{
    text-align: left;
    color: $color-purple; 
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}
input[type="submit"].manual{
  font-size: 1em;
  margin: 20px auto;
  display: block;
  background: transparent;
  border: none;
  text-decoration: underline;
  font-weight: 700;
  border-top: 40px;
}
input[type="submit"].manual:hover{
  text-decoration: none;
  color: $color-darkgrey;
}
input[type="submit"].delete{
  float: left;
  border: none;
  background-color: transparent;
  color: #333;
  border-bottom: solid red 4px;
  width: 110px;
  height: inherit;
  margin-top: -50px;
}
input[type="submit"].delete.check{
  float: none;
  display: inline-block;
  margin: 20px;
}
input[type="submit"].delete:hover{
  color: #333;
  border: none;
  border-bottom: solid red 9px;
}
#delete-section{
  text-align: center;
}
#close-button{
  text-align: right;
  padding: 0px 20px 0;
  button{
    margin-bottom: 10px;
    border: solid 2px white;
    padding: 2px 15px 5px;
    background-color: $color-purple;
    color: white;
  }
  button:hover{
    border: solid 2px $color-purple;

  }
}
#close-form{
  text-align: right;
  button{
    margin-bottom: -10px;
    border: solid 2px white;
    padding: 2px 15px 5px;
    background-color: $color-purple;
    color: white;
  }
  button:hover{
    border: solid 2px $color-purple;

  }
}

form.loading {
  label{
      color: $color-lightgrey;
      
  }
  input[type="submit"]{
      background-color: $color-lightgrey;
      border: 3px solid $color-lightgrey;
  }
}
input#edit, input.add-button{
  padding: 6px 10px 8px;
  background-color: $color-purple;
  font-size: 0.8em;
  font-weight: bold;
  border: 3px solid white;
  color: white;
}
input.add-button{
  display: block;
  margin: 40px auto 20px;
  font-size: 1em;
  width: 200px;
  white-space: normal;
}
div.search-bar{
  text-align: center;
  border-bottom: 2px dashed black;
    margin-bottom: 30px;
  input{
    padding: 6px 10px 8px;
    background-color: $color-purple;
    font-size: 0.8em;
    font-weight: bold;
    border: 3px solid white;
    color: white;
    margin: 10px auto 20px;
    font-size: 1em;
    width: 200px;
  }
}
input.add-button.search{
  width: 100%;
}
input#edit:hover, input.add-button:hover, .search-bar input:hover{
  border: 3px solid $color-purple;
  cursor: pointer;
}
.reading-now{
  margin-top: 20px;
  text-align: left;
  h3{
    margin-top: 0;
  }
  img{
    max-width: 110px;
  }
  .col-5 i{
    font-size: 85px;
  }
  .summary-reading{
    button{
      font-weight: 400;
    }
    p{
      font-size: 1.2em;
    }
    .collapse p, .collapsing p{
      font-size: 1em;
    }
  }

}


.found-friend{
  margin-bottom: 20px;
  font-size: 1.3em;
}
#search-results{
  .col-md-6 div.eachbook{
    padding: 10px;
    border-bottom: 2px solid $color-purple;
  }
  h3{
    color: $color-purple;
    font-weight: 700;
  }
  p{
    font-size: 1.2em;
    margin-bottom: 0.5rem;
  }
  img{
    max-width: 100%;
  }
}
form.search-form{
  input[type="text"]{
    display: block;
    height: 2em;
    width: 80%;
    margin: auto;
  }
}
.required{
    color: red;
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
}
@media only screen and (max-width: 1170px) {
  .main-body{
    .sign-widget{
      right: 42px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .welcome{
    margin-top: 20px !important;
    .col-md-4 i{
      float: none;
    }
  }
  .App-header{
    padding-top: 7vh;
    height: 200px;
    h1{
      font-size: 3.9rem;
      text-shadow: 2px 2px black;
    }
  } 
  .navigation a{
      margin: 0 2px;
      font-size: 1em;
      display: inline-block;
      padding: 6px;
      color: $color-purple;
      border-bottom: 2px solid white;
      text-decoration: none;
    }
  input[type="submit"].delete{
      margin-top: 30px;
      float: none;
  }
  .reading-now{
    .col-sm-6{
      border-bottom: dashed 1px black;
      padding-bottom: 20px;
      margin-bottom: 10px;
    }
    img {
      max-width: 80px;
    }
  } 
 .main-body {
    h1 {
      font-size: 2.5rem;
    }
    h2, h2#friend-name {
      font-size: 1.6rem;
    }
   
    h3{
      font-size: 1.4rem;
    }
    h4{
      font-size: 1.2rem;
    }
    .sign-widget{
      top: 240px;
    }
  }
}
@media only screen and (max-width: 576px) {
  .reading-now img{
    max-width: unset;
  }
  .navigation a{
    margin: 0px 1.6px 0 0;
    font-size: .9em;
    padding: 3px;
  }
}
footer{
  height: 50px;
  background: $color-darkblue;
  margin-top: 50px;
  width: 100%;
  color: white;
  text-align: right;
  font-size: 1.3em;
  .footer div{
    padding: 10px 0;
  }
}

.progress-bar3 {
  height: 18px;
  border-radius: 4px;
  background-image: 
     linear-gradient(to right, 
       $color-purple, $color-lightgrey, $color-blue);
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-infinite .progress-bar3 { 	 
  width: 100%; 
  background-image: 
    linear-gradient(to right, $color-lightpurple, $color-purple, $color-lightgrey, $color-blue, $color-darkblue);
  animation: colorAnimation 1s infinite;
}

@keyframes colorAnimation {
  0% { 
    background-image: 
    linear-gradient(to right, $color-lightpurple, $color-purple, $color-lightgrey, $color-blue, $color-darkblue);
  }
  20% { 
    background-image: 
    linear-gradient(to right,  $color-darkblue, $color-lightpurple, $color-purple, $color-lightgrey, $color-blue);
  }
  40% { 
    background-image: 
    linear-gradient(to right, $color-blue, $color-darkblue, $color-lightpurple, $color-purple, $color-lightgrey );
  }
  60% { 
    background-image: 
    linear-gradient(to right, $color-lightgrey, $color-blue, $color-darkblue, $color-lightpurple, $color-purple );
  }
  100% { 
    background-image: 
    linear-gradient(to right, $color-purple, $color-lightgrey, $color-blue, $color-darkblue, $color-lightpurple);
  }
}